html, body {
    position: absolute;
    width: 80%;
    height: 100%;
    margin: 1 1;
  left: -50px;
    top: -10px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background-color: #111;
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  padding: 5px 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 8px;
}

.info-desc {
  color: #ddd;
  font-size: 8px;
}

a {
  color: #ff5f5f;
}

.opener {
  position: absolute;
  left: -1024px;
  top: -1024px;
}


.container {
    width: 70%;
  margin-top: 2px;
}

.input-group {
  margin-top:2px;
}

.alert {
  z-index: 1000;
}

.affix {
  width: 40%;
}

.color-wrapper {
		position: relative;
		width: 250px;
		margin: 20px auto;
  left: 25px;
    top: 50px;
	}

	.color-wrapper p {
		margin-bottom: 5px;
	}

	input.call-picker {
		border: 1px solid #AAA;
		color: #666;
		text-transform: uppercase;
		float: left;    
		outline: none;
	  padding: 10px;
	  text-transform: uppercase;
	  width: 85px;
	}

	.color-picker {
		width: 130px;
		background: #F3F3F3;
		height: 81px;
		padding: 5px;
		border: 5px solid #fff;
		box-shadow: 0px 0px 3px 1px #DDD;
		position: absolute;
		top: 61px;
		left: 2px;
	}

	.color-holder {
  	background: #fff;
		cursor: pointer;
		border: 1px solid #AAA;
		width: 40px;
		height: 36px;
		float: left;
		margin-left: 35px;
	}

	.color-picker .color-item {
		cursor: pointer;
		width: 10px;
		height: 10px;
		list-style-type: none;
		float: left;
		margin: 2px;
		border: 1px solid #DDD;
	}

	.color-picker .color-item:hover {
		border: 1px solid #666;
		opacity: 0.8;
		-moz-opacity: 0.8;
		filter:alpha(opacity=8);
	}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


.mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

.mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
