html, body {
  position: absolute;
  width: 50%;
  height: 30%;
  margin: 0 0;
  overflow: visible;
  font-family: 'Lato', sans-serif;
  background-color: #111;
  font-size: 7px;
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 8px;
}

.info-desc {
  color: #ddd;
  font-size: 8px;
}

a {
  color: #ff5f5f;
}

.opener {
  position: absolute;
  left: -1024px;
  top: -1024px;
}


.container {
    width: 60%;
  margin-top: 5px;
}

.input-group {
  margin-top:5px;
}

.alert {
  z-index: 1000;
}

.affix {
  width: 40%;
}
